{% extends 'base.html' %}

{% block body %}

<main class="intro">
    <div class="header">
        <p>Data Science</p>
        <p>Badril-Batulan-Cayetano</p>
        <p>CS32S4</p>
    </div>
    <div class="body">
        <div class="image">
            <img src="../static/assets/barcode.png" class="barcode"/>
            <div class="title">
                <p>HEAT</p>
                <p>INDEX</p>
                <p>FORECAST</p>
            </div>
            <div class="navigations">
                <a href="/select-city">Start</a>
            </div>
        </div>
    </div>
</main>


{% endblock %}