{% extends 'base.html' %}

{% block body %}

<main class="plotting">
    <div class="plots">
        <div class="title">
            <p>{{ city }}</p>
        </div>
        <div class="image"></div>
    </div>
    <div class="actions">
        <div class="codes"></div>
        <div class="button" id="plotNext">
            <p>Next</p>
        </div>
    </div>
</main>

<script>
    var city = "{{ city }}"
    document.getElementById("plotNext").addEventListener('click', () => {
        const url = new URL("http://127.0.0.1:5000/prediction")
        url.searchParams.set('city', city);
        window.location.replace(url.toString());
    });
</script>

{% endblock %}